.btn.btn-add-segment {
  width: 1.5em;
  height: 1.5em;
  line-height: 1em;
  font-size: 1em;
  text-align: center;
  padding: 0.15em;
  position: absolute;
  bottom: -0.75em;
  left: -0.75em;
  z-index: 99;
}

.row:nth-child(2) .btn.btn-add-segment:first-child {
  bottom: auto;
  top: -0.75em;
}
