.text {
  padding-top: 1.5em;
  padding-bottom: 1.5em;
  box-shadow: 0 0 20px rgb(0 0 0 / 10%);
  background: white;

  .col {
    border-top: 1px solid #dee2e6;
    position: relative;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
  }

  .row:first-child .col {
    border-top: 0 none;
  }

  &.src.tgt {
    .col {
      &:first-child {
        border-right: 1px solid #dee2e6;
      }
    }

    .row:first-child {
      .col { padding-top: 0; }

      .col:first-child {
        border-right: 0 none;
      }
    }

    .row:nth-child(2) .col {
      border-top: 0 none;
    }
  }
}

.text-tool-controls {
  margin: 0.5em 0 1.25em;
  display: flex;
  align-items: center;
  column-gap: 0.5em;

  .btn {
    font-size: 0.9em;
  }

  .text-type-nav {
    margin-left: auto;

    .nav-link {
      color: #a8acc4;
      padding: 0.375rem 0.75rem;

      &.active {
        color: #484b60;
        background: none;
      }
    }
  }
}

.row > * {
  padding-right: calc(var(--bs-gutter-x));
  padding-left: calc(var(--bs-gutter-x));
}

@media (min-width: 1920px) {
  .text {
    width: 75vw;
    transform: translateX(-50%);
    margin-left: 50%;
    margin-right: 0;

    &.src.tgt {
      width: 90vw;
    }
  }
}

@media (min-width: 2560px) {
  .text {
    width: calc(2560px / 4 * 3);
    transform: translateX(-50%);
    margin-left: 50%;
    margin-right: 0;

    &.src.tgt {
      width: calc(2560px / 10 * 9);
    }
  }
}
